<div class="row">
  <div class="col-xs-12">
    <h2>Vos annonces</h2>
    <div class="list-group">
      <button class="list-group-item"
      *ngFor="let announcement of announcements; let i = index"
      (click)="onViewAnnouncement(i)">
    <h3 class="list-group-item-heading">
      {{ announcement.title }}
      <button class="btn btn-default pull-right"
      (click)="onDeleteAnnouncement(announcement)">
      <span class="glyphicon glyphicon-minus"></span>
    </button>
    </h3>
    <p class="list-group-item-text">{{ announcement.author }}</p>
    <p class="list-group-item-text">{{ announcement.created_at | date: 'dd/MM/yyyy, HH:mm ' | uppercase }}</p>
    </button>
    </div>
    <button class="btn btn-primary" (click)="onNewAnnouncement()">
      Ajouter une annonce
    </button>
  </div>
</div>
